# Ignore All dot directories and files: .vscode .ve .git .whatever
.*

# Ignore ZIP files
*.zip

# Ignore program and OS files
*.DS_Store
*desktop.ini

# If you need to remove .DS_Store
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch

# Ignore Generated
node_modules/
package-lock.json
__pycache__/
*.py[cod]

# Exceptions
!.gitignore
!.github
!.nvmrc
!.kiro
!.mocharc.json